<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>InvoiceProject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link href="../../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen" />

</head>

<body>
    <div class="container">



    <a th:href="*{download}" > download</a>

      <table class="table">
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">Id</td>
            <td th:text="${product.name}">Id</td>
            <td th:text="${product.priceNetto}">Id</td>
            <td th:text="${product.priceBrutto}">Id</td>
            <td th:text="${product.taxRate}">Id</td>


        </tr>
      </table>



    </div>
</body>
</html>