<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>InvoiceProject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{js/bootstrap.min.js}"></script>

    <link href="../static/css/bootstrap-datepicker.min.css"
          th:href="@{css/bootstrap-datepicker.min.css}" rel="stylesheet" media="screen"/>

    <script src="../static/js/bootstrap-datepicker.min.js"
            th:src="@{js/bootstrap-datepicker.min.js}"></script>

    <script src="../static/js/bootstrap-datepicker.pl.min.js"
            th:src="@{js/bootstrap-datepicker.pl.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.pl.min.js"></script>

    <!-- Thymeleaf replace -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" th:if="false"></script>
    <script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js"
            defer="defer" th:if="false"></script>

</head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: sidebar('invoice')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!-- Customer -->
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{invoice.customer}">Customer</h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-6 ">
                            <div class="form-group has-success">
                                <label class="control-label" for="inputSuccess1">Input with success</label>
                                <input type="text" class="form-control" id="inputSuccess1"
                                       aria-describedby="helpBlock2"/>
                                <span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                            <div class="form-group has-warning">
                                <label class="control-label" for="inputWarning1">Input with warning</label>
                                <input type="text" class="form-control" id="inputWarning1"/>
                            </div>
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError1">Input with error</label>
                                <input type="text" class="form-control" id="inputError1"/>
                            </div>
                            <div class="has-success">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="checkboxSuccess" value="option1"/>
                                        Checkbox with success
                                    </label>
                                </div>
                            </div>
                            <div class="has-warning">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="checkboxWarning" value="option1"/>
                                        Checkbox with warning
                                    </label>
                                </div>
                            </div>
                            <div class="has-error">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="checkboxError" value="option1"/>
                                        Checkbox with error
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Invoice data -->
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{invoice.details}">Invoice details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6 ">
                            Panel content
                        </div>
                    </div>
                </div>

            </div>

            <!-- Invoice details -->
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{invoice.lines}">Invoice lines</h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-6 ">
                        <div class="input-group date">
                            <input type="text" class="form-control datepicker"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $(document).ready(function () {
                                $('.datepicker').datepicker({
                                    language: /*[[#{language}]]*/ 'en',
                                    format: "yyyy/mm/dd"
                                });
                            });
                            /*]]>*/
                        </script>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>