<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>InvoiceProject</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}" type='text/javascript'></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}" type='text/javascript'></script>

    <link href="../static/css/bootstrap-datepicker.min.css"
          th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet" media="screen"/>

    <script src="../static/js/bootstrap-datepicker.min.js"
            th:src="@{/js/bootstrap-datepicker.min.js}"></script>


    <script src="../static/js/bootstrap-datepicker.pl.min.js"
            th:src="@{/js/bootstrap-datepicker.pl.min.js}"></script>

    <script src="../static/js/typeahead.min.js"
            th:src="@{/js/typeahead.min.js}" type='text/javascript'></script>

    <script src="../static/js/bloodhound.js"
            th:src="@{/js/bloodhound.js}" type='text/javascript'></script>


    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous"/>


    <!-- Thymeleaf replace -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" th:if="false"></script>
    <script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js"
            defer="defer" th:if="false"></script>

</head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="container-fluid">

    <div class="row">
        <div th:replace="fragments :: sidebar('invoice')"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <!--FORM-->


            <div class="row ">

                <h2 class="title" th:text="#{invoice.title}">Create new invoice</h2>

            </div>

            <form action="#" th:action="@{/invoices/add}" th:object="${invoice}" th:method="POST">
                <!-- Customer -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="#{invoice.customer}">Customer</h3>
                        </div>
                        <div class="panel-body">

                            <div class="col-md-5 ">
                                <div class="form-group input-group date">
                                    <input type="text" class="form-control " id="typeahead"
                                           data-provide="typeahead" autocomplete="off"
                                    />
                                    <div class="input-group-addon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <input type="hidden" id="customerIdHidden" th:value="${customer.id}"
                                       th:field="${customer.id}" name="id"/>


                            </div>

                            <div class="col-md-5 col-md-offset-2">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                        data-target="#customerModal" th:text="#{customer.createButton}">
                                    Create new
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="customerModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel" th:text="#{customer.new}">New
                                                    customer</h4>
                                            </div>
                                            <div class="modal-body" id="customerModalFields">
                                                <label for="customerName" th:text="#{customer.name}">Customer
                                                    name</label>
                                                <input type="text" class="form-control" id="customerName"
                                                       th:field="${customer.name}"/>
                                                <label for="streetAddress" th:text="#{address.street}">Street
                                                    address</label>
                                                <input type="text" class="form-control" id="streetAddress"
                                                       th:field="${customer.address.streetAddress}"/>
                                                <label for="city" th:text="#{address.city}">City</label>
                                                <input type="text" class="form-control" id="city"
                                                       th:field="${customer.address.city}"/>
                                                <label for="zipCode" th:text="#{address.zipCode}">Zip code</label>
                                                <input type="text" class="form-control" id="zipCode"
                                                       th:field="${customer.address.zipCode}"/>
                                                <label for="nip" th:text="#{customer.nip}">Nip</label>
                                                <input type="text" class="form-control" id="nip"
                                                       th:field="${customer.nip}"/>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="cancel" class="btn btn-default"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save
                                                    changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>


                <!-- Invoice data -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="#{invoice.details}">Invoice details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-5 ">

                                <div class="form-group">
                                    <label for="invoiceNumber" th:text="#{invoice.invoiceNumber}">Invoice number</label>
                                    <input type="text" class="form-control" id="invoiceNumber"
                                           th:field="*{invoiceNumber}"/>
                                </div>

                                <div class="form-inline form-group">
                                    <!-- Issue date -->
                                    <label for="issueDate" th:text="#{invoice.issueDate}">Issue date: </label>
                                    <div class="form-group input-group date col-md-4" id="issueDate">
                                        <input type="text" class="form-control datepicker" th:value="*{issueDate}"
                                               th:field="*{issueDate}"/>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <!-- Service date -->
                                    <label for="serviceDate" th:text="#{invoice.serviceDate}">Service date: </label>
                                    <div class="form-group input-group date col-md-4" id="serviceDate">
                                        <input type="text" class="form-control datepicker" th:value="*{serviceDate}"
                                               th:field="*{serviceDate}"/>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-inline">
                                    <label for="paymentType" th:text="#{invoice.paymentType}">Payment type: </label>
                                    <select class="form-control " id="paymentType" th:field="*{paymentType}">
                                        <option th:each="type : ${T(tk.mbondos.enums.PaymentType).values()}"
                                                th:value="${type}"
                                                th:text="#{'invoice.paymentType.'+${{type}}}">Default
                                        </option>
                                    </select>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <!-- Invoice lines -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="#{invoice.lines}">Invoice lines</h3>
                        </div>
                        <div class="panel-body">

                            <button class="btn btn-default" type="button" id="newRow">New row</button>

                        </div>

                        <table class="table">
                            <tr>
                                <th class="col-md-1">Lp</th>
                                <th class="col-md-5" th:text="#{product.name}">Name</th>
                                <th class="col-md-1" th:text="#{quantity}">Quantity</th>
                                <th class="col-md-1" th:text="#{product.taxRate}">VAT</th>
                                <th class="col-md-1" th:text="#{product.priceNetto}">Netto</th>
                                <th class="col-md-1" th:text="#{product.priceBrutto}">Brutto</th>
                                <th class="col-md-2" th:text="#{product.priceBrutto}">Total</th>
                            </tr>
                            <tbody>
                            <tr style="display: none;" class="table-hover" th:each="iter : ${#numbers.sequence(0, 10)}" th:id="'row' + ${iter}">
                                <td th:text="${iter}+1"></td>
                                <td >
                                    <input type="text" class="form-control" th:field="${lines.linesList[__${iter}__].product.name}"/>
                                </td>
                                <td class="col-md-1">
                                    <input type="text" class="form-control col-md-1" th:field="${lines.linesList[__${iter}__].quantity}"/>
                                </td>
                                <td >
                                    <input type="number" class="form-control" th:value="23" th:field="${lines.linesList[__${iter}__].product.taxRate}"/>
                                </td>
                                <td >
                                    <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" th:field="${lines.linesList[__${iter}__].product.priceNetto}"/>
                                </td>
                                <td ><input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" th:field="${lines.linesList[__${iter}__].product.priceBrutto}"/></td>
                                <td >total</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" class="btn btn-success " th:value="#{invoice.submit}"/>
                        <input type="button" onclick="window.location.href='/'" class="btn btn-danger col-md-offset-3"
                               th:value="#{invoice.cancel}"/>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $('.datepicker').datepicker({
            language: /*[[#{language}]]*/ 'en',
            format: "yyyy-mm-dd"
        });


    });
    /*]]>*/
</script>

<script type="text/javascript">

    /*working*/
    jQuery.ajax({
        url: "/customers",
        type: "GET",

        contentType: 'application/json; charset=utf-8',
        success: function (resultData) {
            $('#typeahead').typeahead({
                displayKey: 'id',
                source: function (query, process) {
                    objects = [];
                    map = {};
                    var data = resultData;
                    $.each(data, function (i, object) {
                        map[object.name] = object;
                        objects.push(object.name);
                    });
                    process(objects);

                },
                updater: function (item) {
                    $('#customerIdHidden').val(map[item].id);
                    return item;
                }
            })


        },
        error: function (jqXHR, textStatus, errorThrown) {
        },

        timeout: 120000,
    });

</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#cancel').click(function () {
            $('#customerModalFields').find('input,select').each(function () {
                $(this).val('');
            });
        });
    });

</script>

<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/
    $(document).ready(function () {
        var i = 0;
        $('#newRow').click(function () {
            $('#row' + i).show();
            i++;


    });
    });
    /*]]>*/

</script>


<!--$('table').append("<tr>" +
    '<td th:th:text="#{customer.name}">   <input type="text" th:field="${lines.linesList[1].quantity}"/> <div th:text="${lines.linesList.add()}" th:remove="all"></div> </td>' +
    '<td th:th:text="#{customer.name}"></td>' +
    "<td>aaaa</td>" +
    "<td>aaaa</td>" +
    "<td>aaaa</td>" +
    "<td>aaaa</td>" +
    "<td>aaaa</td>" +
    "</tr>");-->

</body>
</html>